/*------------ HOMEPAGE --------------*/
main {
    margin-top: 90px;
}

/*------------ HERO SECTION --------------*/
.hero-section {
    position: relative;
    width: 100%;
    background: var(--background-linear-gradient-dark);
    padding: 100px 300px;
}

.hero--heading {
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 115.2px */
    letter-spacing: -4px;
    text-transform: uppercase;
    color: var(--white);
    z-index: 100;
}

.hero--heading div:first-child span:first-child {
    background-color: var(--primary-green);
    color: var(--text-black);
    margin-left: 150px;
    z-index: 10;
}
.hero--heading div:first-child span:last-child {
    color: var(--white);
}

.hero--heading span:last-child {
    color: var(--primary-green);
    text-align: right;
}

.hero--heading-top {
    display: flex;
    justify-content: space-between;
}
.hero--heading-top p {
    height: inherit;
    word-wrap: normal;
    width: 30%;
    letter-spacing: 0;
    color: var(--grey-light);
    text-transform: none;
}
.hero--image-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.hero--image-container img:first-child {
    z-index: 100;
    width: 12%;
}
.hero--image-container img:last-child {
    height: 315px;
    width: 80%;
    object-fit: cover;
    z-index: 100;
}

.hero--para-container {
    width: 100%;
    display: flex;
}

.hero--para {
    color: var(--grey-light);
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 325px;
}

.hero--curve {
    position: absolute;
    top: 270px;
    z-index: 0;
}

.hero--left-box {
    position: absolute;
    top: 250px;
    left: 40px;
    z-index: 10;
}

.hero--right-box {
    position: absolute;
    bottom: 200px;
    right: 80px;
    z-index: 1;
}

/*------------------  WHY CHOOSE US SECTION --------------*/
.why-choose-us-section {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 40px;
    width: 100%;
    background: var(--white);
    padding: 100px 300px;
}

.why-choose-us--heading-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 300px;
}

.why-choose-us--heading {
    display: flex;
    gap: 8px;
    flex-direction: column;
}
.why-choose-us--heading span:first-child {
    color: var(--primary-green);
}

.why-choose-us--heading-container p {
    color: var(--grey-dark);
    width: 70%;
}

.why-choose-us--img-section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 24px;
}

.stat-img {
    background: url(../../assets/images/wcu-stat-bg.png) no-repeat;
    display: flex;
    gap: 100px;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    padding: 30px;
}

.stat div:first-child span {
    font-size: 96px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    text-transform: uppercase;
}
.stat div:first-child span:first-child {
    color: var(--white);
}
.stat div:first-child span:last-child {
    color: var(--primary-green);
}

.stat span:last-child {
    color: var(--grey-light);
}

.list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
}

.list img {
    width: 68px;
}

.list span {
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 76.8px */
    text-transform: uppercase;
    color: var(--white);
    margin-left: 5px;
}

.main-img {
    position: relative;
    background: url(../../assets/images/wcu-main.png) no-repeat;
    background-size: cover;
    width: 100%;
    border-radius: 14px;
}

.main-img::before {
    background-color: var(--background-dark-2);
    opacity: 0.5;
    content: '';
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 14px;
}

.main-img h5 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white);
    z-index: 1;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-weight: 500;
    font-style: normal;
}

.main-img img {
    position: absolute;
    bottom: -10%;
    right: -10%;
    transform: translate(-15%, 0);
    z-index: 1;
}

/*---------------- SERVICES SECTION -----------------*/
.services-section {
    position: relative;
    display: grid;
    grid-template-rows: auto;
    grid-gap: 40px;
    width: 100%;
    background: url(../../assets/images/services-bg.png) no-repeat;
    background-size: cover;
    padding: 100px 300px;
}

.services-section img {
    position: absolute;
    top: 15%;
    left: 15%;
}

.services--heading span {
    color: var(--primary-green);
}
.services--heading h4 {
    width: 50%;
    color: var(--white);
}

.services--card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}

.services--card span:first-child {
    font-size: 110px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 132px */
    letter-spacing: -4px;
    text-transform: uppercase;
    color: var(--white);
}

.services--card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 18rem;
    gap: 6px;
}

.services--card-info span:first-child {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    color: var(--white);
    letter-spacing: normal;
}

.services--card-info p {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
    color: var(--grey-light);
    margin-bottom: 6px;
}

.services--main-section {
    height: 25rem;
}

.services--main-section .services--card:nth-child(1) {
    position: absolute;
    bottom: 15%;
    left: 20%;
}
.services--main-section .services--card:nth-child(2) {
    position: absolute;
    top: 52%;
    left: 45%;
}
.services--main-section .services--card:nth-child(3) {
    position: absolute;
    top: 27%;
    right: 15%;
}

/*------------------- PORTFOLIO -------------------*/

.portfolio-section {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 40px;
    width: 100%;
    background: var(--background-dark-2);
    padding: 100px 300px;
}

.portfolio--heading-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 300px;
}

.portfolio--heading {
    display: flex;
    gap: 8px;
    flex-direction: column;
}
.portfolio--heading span:first-child {
    color: var(--primary-green);
}

.portfolio--heading-container p {
    color: var(--grey-light);
    width: 70%;
}

.portfolio--heading h4 {
    color: var(--white);
}

.portfolio--button-section {
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 24px;
}

.portfolio--button-section img {
    width: 30px;
    margin: 10px;
    color: var(--grey-light);
}

.portfolio--button-section a {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--grey-light);
    border-radius: 50%;
}

.portfolio--button-section a:first-child img {
    transform: rotate(180deg);
    filter: brightness(0) saturate(100%) invert(94%) sepia(7%) saturate(230%)
        hue-rotate(168deg) brightness(89%) contrast(88%);
}

.portfolio--button-section a:last-child {
    background: var(--primary-green);
    border: none;
}

.portfolio--project-section {
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.portfolio--project-section img {
    width: 100%;
    height: 100%;
    border-radius: 14px 14px 0 0;
}

.project-card {
    display: flex;
    flex-direction: column;
}
.project-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: var(--white);
    border-radius: 0 0 14px 14px;
    padding: 30px 25px 25px 25px;
}

.project-info h6 {
    color: var(--text-black);
}

.project-info span {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
    color: var(--grey-dark);
}

/*-------------------- TEAM SECTION --------------------*/
.team-section {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 40px;
    width: 100%;
    background: var(--white);
    padding: 100px 300px;
}

.team--heading-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.team--heading {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-between;
    align-items: center;
}

.team--heading span {
    color: var(--primary-green);
}

.team--heading h4 {
    text-align: center;
    color: var(--text-black);
}

.team--main-section {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    min-height: 550px;
}

.team--card {
    width: 365px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
}
.team--info {
    width: 100%;
    text-align: center;
    background: var(--grey-light-2);
    padding-top: 2rem;
    padding-bottom: 18.75rem;
    border-radius: 12px;
    z-index: 1;
}

.team--info h6 {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    color: var(--text-black);
}

.team--info span {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
    color: var(--grey-dark);
}

.team--icon {
    width: 24px;
    filter: brightness(0) saturate(100%) invert(11%) sepia(1%) saturate(347%)
        hue-rotate(16deg) brightness(105%) contrast(99%);
}

.person-image {
    position: absolute;
    top: 25%;
    z-index: 50;
}

.team--icon-button {
    padding: 1rem;
    position: absolute;
    bottom: -42.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary-green);
    border-radius: 50%;
    z-index: 60;
}

/*------------------- CLIENT FEEDBACK SECTION ------------------*/

.feedback-section {
    position: relative;
    display: grid;
    grid-template-rows: auto;
    grid-gap: 40px;
    width: 100%;
    background: var(--background-linear-gradient-dark);
    padding: 100px 300px;
}

.feedback--heading-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.feedback--heading {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: space-between;
    align-items: center;
}

.feedback--heading span {
    color: var(--primary-green);
}

.feedback--heading h4 {
    text-align: center;
    color: var(--white);
}

.feedback--main-section {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.feedback--main-section p {
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 180%;
    text-align: center;
    width: 30%;
    color: var(--grey-light);
}

.feedback--client-img {
    width: 90px;
    border-radius: 50px;
}

.feedback--client-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feedback--client-info h6 {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    color: var(--white);
}

.feedback--client-info span {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
    color: var(--grey-light);
    margin-bottom: 40px;
}

.feedback--curve {
    position: absolute;
    top: -10%;
    left: 0;
    height: 150%;
}

.feedback--design-element {
    height: 22%;
    position: absolute;
    top: 20%;
    right: 10%;
}

.client--button-section {
    margin-bottom: 70px;
}

/*----------------- PRICING SECTION ----------------*/
.pricing-section {
    position: relative;
    display: grid;
    grid-template-rows: auto;
    grid-gap: 40px;
    width: 100%;
    background: var(--white);
    padding: 100px 300px;
}

.pricing--heading-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pricing--heading {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: space-between;
    align-items: center;
}

.pricing--heading span {
    color: var(--primary-green);
}

.pricing--heading h4 {
    text-align: center;
    color: var(--text-black);
}

.line--container {
    display: grid;
    margin-top: 24px;
}
.pricing--line {
    justify-self: center;
}

.pricing--duration-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.pricing--duration-tag {
    display: inline-flex;
    padding: 15px 26px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    text-align: center;
    color: var(--grey-dark);
}

.filled-tag {
    background: var(--primary-green);
    color: var(--background-dark-2);
}

.pricing--main-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8rem;
}

.pricing--card-button {
    border: 1px solid var(--grey-light);
    color: var(--grey-dark);
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

.pricing--card {
    border: 1px solid var(--grey-light-2);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pricing--card-top {
    width: 100%;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--grey-light);
    color: var(--grey-dark);
    border-radius: 12px 12px 0 0;
}

.pricing--card-top span {
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 180%;
}

.pricing--card-top h4 {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
}

.pricing--card-features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pricing--card-features span {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 388%;
}
.pricing--card-features-line {
    display: flex;
    width: 100%;
    border-bottom: 0.5px solid var(--grey-light);
}

.dark-card {
    background: var(--background-dark-2);
}

.dark-card .pricing--card-top {
    background: var(--background-linear-gradient-dark);
    border: none;
}

.dark-card .pricing--card-top span {
    color: var(--grey-light-2);
}
.dark-card .pricing--card-top h4,
.dark-card .pricing--card-features span {
    color: var(--white);
}

.dark-card .pricing--card-button {
    color: var(--background-dark-2);
    background: var(--primary-green);
    border: none;
}

/*---------------- BLOGS SECTION -----------------*/
.blogs-section {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 40px;
    width: 100%;
    background: var(--background-linear-gradient-dark);
    padding: 100px 300px;
}

.blogs--main-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8rem;
}

.blogs--card {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    border: 0.5px solid var(--grey-light-2);
}

.blogs--info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.blogs--info span {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    color: var(--grey-light-2);
}
.blogs--info img {
    width: 1rem;
    filter: brightness(0) saturate(100%) invert(100%) sepia(31%) saturate(4023%)
        hue-rotate(73deg) brightness(97%) contrast(87%);
    margin-right: 5px;
}

.blogs--info span:nth-child(2) {
    color: var(--primary-green);
}

.blogs--card h6 {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    color: var(--white);
    margin-top: 1rem;
}

.blogs--bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 38px;
}

.blogs--link {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    color: var(--primary-green);
}

.blogs--date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    color: var(--text-black);
    background: var(--white);
    padding: 15px 10px;
    border-radius: 6px;
}

.blogs--info,
.blogs--card h6,
.blogs--bottom,
.blogs--card .pricing--card-features-line {
    padding: 0 20px;
}

/*---------------- CONTACT SECTION -----------------*/
.contact-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 150px;
    width: 100%;
    background: var(--white);
    padding: 100px 300px;
}

.contact--heading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact--heading-container span {
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    color: var(--text-black);
}
.contact--heading-container div:first-child span:first-child {
    background: var(--primary-green);
}

.contact--heading-container div:last-child span:nth-child(2) {
    color: var(--primary-green);
}

.contact--prompt {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.contact--prompt h6 {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    color: var(--grey-dark);
    margin-top: 1rem;
}

.contact--company-email-info {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    color: var(--text-black);
    margin-top: 1rem;
}
.contact--email {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.contact--company-email-info img {
    width: 20px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(31%) saturate(4023%)
        hue-rotate(73deg) brightness(97%) contrast(87%);
}

.contact--form {
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 25px;
}

input,
textarea {
    border: none;
    background-color: transparent;
    outline: none;
    padding: 10px;
    width: 100%;
    color: var(--grey-dark);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
}

input:focus,textarea:focus{
    color: var(--text-black);
}

input[type='text'],
input[type='email'],
input[type='textarea'] {

}

.input-wrapper {
    position: relative;
    border-bottom: 1px solid var(--grey-dark);
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.input-wrapper i {
    font-size: 20px;
    margin-right: 15px;
}

.contact--submit{
    margin-top: 50px;
    align-self: end;
}