/*------------ HOMEPAGE --------------*/
main {
    margin-top: 90px;
}

/*------------ HERO SECTION --------------*/
.hero-section {
    position: relative;
    width: 100%;
    background: var(--background-linear-gradient-dark);
    padding: 100px 300px;
}

.hero--heading {
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 115.2px */
    letter-spacing: -4px;
    text-transform: uppercase;
    color: var(--white);
    z-index: 100;
}

.hero--heading div:first-child span:first-child {
    background-color: var(--primary-green);
    color: var(--text-black);
    margin-left: 150px;
    z-index: 10;
}
.hero--heading div:first-child span:last-child {
    color: var(--white);
}

.hero--heading span:last-child {
    color: var(--primary-green);
    text-align: right;
}

.hero--heading-top {
    display: flex;
    justify-content: space-between;
}
.hero--heading-top p {
    height: inherit;
    word-wrap: normal;
    width: 30%;
    letter-spacing: 0;
    color: var(--grey-light);
    text-transform: none;
}
.hero--image-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.hero--image-container img:first-child {
    z-index: 100;
    width: 12%;
}
.hero--image-container img:last-child {
    height: 315px;
    width: 80%;
    object-fit: cover;
    z-index: 100;
}

.hero--para-container {
    width: 100%;
    display: flex;
}

.hero--para {
    color: var(--grey-light);
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 325px;
}

.hero--curve {
    position: absolute;
    top: 270px;
    z-index: 0;
}

.hero--left-box {
    position: absolute;
    top: 250px;
    left: 40px;
    z-index: 10;
}

.hero--right-box {
    position: absolute;
    bottom: 200px;
    right: 80px;
    z-index: 1;
}

/*------------------  WHY CHOOSE US SECTION --------------*/
.why-choose-us-section {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 40px;
    width: 100%;
    background: var(--white);
    padding: 100px 300px;
}

.why-choose-us--heading-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 300px;
}

.why-choose-us--heading {
    display: flex;
    gap: 8px;
    flex-direction: column;
}
.why-choose-us--heading span:first-child {
    color: var(--primary-green);
}

.why-choose-us--heading-container p {
    color: var(--grey-dark);
    width: 70%;
}

.why-choose-us--img-section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 24px;
}

.stat-img {
    background: url(../../assets/images/wcu-stat-bg.png) no-repeat;
    display: flex;
    gap: 100px;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    padding: 30px;
}

.stat div:first-child span {
    font-size: 96px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    text-transform: uppercase;
}
.stat div:first-child span:first-child {
    color: var(--white);
}
.stat div:first-child span:last-child {
    color: var(--primary-green);
}

.stat span:last-child {
    color: var(--grey-light);
}

.list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
}

.list img {
    width: 68px;
}

.list span {
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 76.8px */
    text-transform: uppercase;
    color: var(--white);
    margin-left: 5px;
}

.main-img {
    position: relative;
    background: url(../../assets/images/wcu-main.png) no-repeat;
    background-size: cover;
    width: 100%;
    border-radius: 14px;
}

.main-img::before {
    background-color: var(--background-dark-2);
    opacity: 0.5;
    content: '';
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 14px;
}

.main-img h5 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white);
    z-index: 1;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-weight: 500;
    font-style: normal;
}

.main-img img {
    position: absolute;
    bottom: -10%;
    right: -10%;
    transform: translate(-15%, 0);
    z-index: 1;
}

/*---------------- SERVICES SECTION -----------------*/
.services-section {
    position: relative;
    display: grid;
    grid-template-rows: auto;
    grid-gap: 40px;
    width: 100%;
    background: url(../../assets/images/services-bg.png) no-repeat;
    background-size: cover;
    padding: 100px 300px;
}

.services-section img {
    position: absolute;
    top: 15%;
    left: 15%;
}

.services--heading span {
    color: var(--primary-green);
}
.services--heading h4 {
    width: 50%;
    color: var(--white);
}

.services--card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}

.services--card span:first-child {
    font-size: 110px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 132px */
    letter-spacing: -4px;
    text-transform: uppercase;
    color: var(--white);
}

.services--card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 18rem;
    gap: 6px;
}

.services--card-info span:first-child {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    color: var(--white);
    letter-spacing: normal;
}

.services--card-info p {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
    color: var(--grey-light);
    margin-bottom: 6px;
}

.services--main-section {
    height: 25rem;
}

.services--main-section .services--card:nth-child(1) {
    position: absolute;
    bottom: 15%;
    left: 20%;
}
.services--main-section .services--card:nth-child(2) {
    position: absolute;
    top: 52%;
    left: 45%;
}
.services--main-section .services--card:nth-child(3) {
    position: absolute;
    top: 27%;
    right:15%;
}
